In [ ]:
import numpy as np

**Работа с данными в Pandas. 
Задание 1.** Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].

In [1]:
import pandas as pd

In [2]:
a = {
    "author_id": [1, 2, 3],
    "author_name": ['Тургенев', 'Чехов', 'Островский']
}

authors = pd.DataFrame(a)
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [3]:
a = {
    "author_id": [1, 1, 1, 2, 2, 3, 3],
    "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    "price":[450, 300, 350, 500, 450, 370, 290]
}

books = pd.DataFrame(a)
books

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

**Задание 2.**
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [4]:
authors_price = pd.merge(authors, books, on='author_id', how='outer')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

**Задание 3.**
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [5]:
top5 = authors_price.nlargest(5, "price")
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

**Задание 4.**
Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:

In [6]:
authors_stat = authors.copy()
authors_stat

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [7]:
tmp = authors_price.groupby("author_id").agg({"price": "max"})
tmp.columns = ['max_price']
tmp

authors_stat = pd.merge(authors_stat, tmp, on='author_id', how='inner')
authors_stat

   author_id author_name  max_price
0          1    Тургенев        450
1          2       Чехов        500
2          3  Островский        370

In [8]:
tmp = authors_price.groupby("author_id").agg({"price": "min"})
tmp.columns = ['min_price']
tmp

authors_stat = pd.merge(authors_stat, tmp, on='author_id', how='inner')
authors_stat

   author_id author_name  max_price  min_price
0          1    Тургенев        450        300
1          2       Чехов        500        450
2          3  Островский        370        290

In [9]:
tmp = authors_price.groupby("author_id").agg({"price": "mean"})
tmp.columns = ['mean_price']
tmp

authors_stat = pd.merge(authors_stat, tmp, on='author_id', how='inner')
authors_stat

   author_id author_name  max_price  min_price  mean_price
0          1    Тургенев        450        300  366.666667
1          2       Чехов        500        450  475.000000
2          3  Островский        370        290  330.000000

In [10]:
authors_stat.drop(['author_id'], axis='columns', inplace=True)
authors_stat

  author_name  max_price  min_price  mean_price
0    Тургенев        450        300  366.666667
1       Чехов        500        450  475.000000
2  Островский        370        290  330.000000